{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        "external-helpers"
      ]
    },
    "production": {
      "plugins": [
        "external-helpers"
      ]
    },
    "test": {
      "presets": [["es2015"], "react"]
    }
  }
}
