@font-face {
  font-family: "LUI icons";
  src: url(../../node_modules/leonardo-ui/dist/lui-icons.woff) format("woff"),
    url(../../node_modules/leonardo-ui/dist/lui-icons.ttf) format("ttf");
}

pre {
  margin: 0;
}

pre code {
  font-family: "Source Code Pro", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  padding-bottom: 5px;
}

table {
  border-spacing: 0;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  width: 100%;
}

table thead {
  font-weight: bold;
}

table th,
table td {
  text-align: left;
  box-sizing: border-box;
  padding: 5px 8px;
  min-height: 20px;
  text-wrap: normal;
  white-space: normal;
  word-wrap: break-word;
  border-right: 1px solid #CCCCCC;
}

table th:last-child:not(:first-child),
table td:last-child:not(:first-child) {
  border-right: 0;
}

table tr {
  box-sizing: border-box;
}

table tr td,
table tr th {
  border-bottom: 1px solid #CCCCCC;
}

table tr:last-child:not(:first-child) td,
table tr:last-child:not(:first-child) th {
  border-bottom: 0;
}

table tbody tr:nth-child(2n - 1) {
  background-color: #F2F2F2;
}

.lui-bg-inverse table tbody tr:nth-child(2n - 1) {
  background-color: #404040;
}

#docs {
  height: 100%;
}

#content {
  min-height: 100%;
}

.example {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  position: relative;
}

.example-box {
  padding: 20px 10px;
  border-bottom: 1px solid #D9D9D9;
  position: relative;
}

.button-example .lui-button {
  margin-right: 5px;
}

.radiobutton-example .lui-radiobutton {
  margin-bottom: 5px;
}

.example-code .has-border {
  border: 1px solid #D9D9D9;
}


.icon-example {
  display: inline-block;
  text-align: center;
  height: 65px;
  width: 75px;
  vertical-align: top;
}

.icon-example-box {
  display: inline-block;
  margin: 5px;
}

.icon-example-text {
  font-size: 13px;
  word-break: break-all;
}

.props {
  margin-top: 15px;
}
